/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace views "views.*";
@namespace components "components.*";
@font-face {
	src: url("skins/assets/DINEngschriftStd.otf");
	fontFamily: myFontFamily;
	embedAsCFF: false;
}
@font-face {
	src: url("skins/assets/Chalkduster.ttf");
	fontFamily: chalkDuster;
	embedAsCFF: false;
}
.customStyle {
	fontFamily: myFontFamily;
	fontSize: 24;
	embedAsCFF: false;
}



s|ActionBar
{
	titleAlign : center;
}




views|BoardsMenu s|ButtonBar s|ButtonBarButton:downAndSelected
{
	chromeColor: #00c0e0;
	color: #FFFFFF;
}

views|BoardsMenu s|ButtonBar {
	
	
	chromeColor: #00A0BF;
	color: #FFFFFF;
}





s|ActionBar #titleDisplay
{
	fontWeight: normal;
}


views|RevisionBuddiesHomeView s|Button 
{
	skinClass: ClassReference("skins.CentreAlignButtonSkin");
	fontSize:13;
	verticalGap:0;
	leading:0;
	fontWeight:normal;
	
}

views|RevisionBuddiesHomeView s|ButtonBar s|ButtonBarButton:downAndSelected
{
    chromeColor: #00c0e0;
    color: #FFFFFF;
}


views|RevisionBuddiesHomeView s|ButtonBar {


    chromeColor: #00A0BF;
    color: #FFFFFF;
}




views|Results s|Button 
{
	skinClass: ClassReference("skins.CentreAlignButtonSkin");
	fontSize:13;
	verticalGap:0;
	leading:0;
	fontWeight:normal;
	
}

views|MCQsHistoric s|Button 
{
	skinClass: ClassReference("skins.MCQButtonSkin");
	fontSize:12;
	verticalGap:0;
	leading:0;
	fontWeight:normal;
	
}

views|PurchasePage s|Button 
{
	skinClass: ClassReference("skins.CentreAlignButtonSkin");
	fontSize:13;
	verticalGap:0;
	leading:0;
	fontWeight:normal;
	
}

views|NoInternetConnection s|Button 
{
	skinClass: ClassReference("skins.CentreAlignButtonSkin");
	fontSize:13;
	verticalGap:0;
	leading:0;
	fontWeight:normal;
	
}



views|SettingsPage s|Button 
{
	skinClass: ClassReference("skins.CentreAlignButtonSkin");
	fontSize:13;
	verticalGap:0;
	leading:0;
	fontWeight:normal;
	
}


views|MCQs s|Button
{
	skinClass: ClassReference("skins.MCQButtonSkin");
	fontSize:12;
	verticalGap:0;
	leading:0;
	fontWeight:normal;
}




.myStyle
{
	fontSize:14;
}






